<!DOCTYPE html>
<html lang="en" xmlns:th="http://thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <object th:include="fragments/fragment :: materializecss" th:remove="tag"></object>
    <object th:include="fragments/fragment :: js" th:remove="tag"></object>
    <object th:include="fragments/fragment :: title (current='Tambah Member')" th:remove="tag"></object>
</head>
<body>
    <div th:replace="fragments/fragment :: navbar"></div>
    <div class="container">
        <h3 class="center-align grey-text text-darken-1">Tambah Member</h3>
        <div class="card-panel">
            <form th:action="@{/member/tambah}" th:object="${member}" class="col s12" method="post">
                <div class="row">
                    <div class="input-field col s12 m6">
                        <input id="nama_member" name="namaMember" type="text" class="validate">
                        <label for="nama_member">Nama Member</label>
                    </div>
                </div>
                <div class="row">
                    <div class="input-field col s12 m6">
                        <input id="tanggal_lahir" name="tanggalLahir" type="text" class="datepicker validate">
                        <label for="tanggal_lahir">Tanggal Lahir</label>
                    </div>
                    <div class="input-field col s12 m6">
                        <input id="tanggal_daftar" name="tanggalPendaftaran" type="text" class="datepicker validate">
                        <label for="tanggal_daftar">Tanggal Pendaftaran</label>
                    </div>
                </div>
                <p>
                    <label>
                        <input class="with-gap" name="jenisKelamin" th:value="1" type="radio"/>
                        <span>Laki-laki</span>
                    </label>
                </p>
                <p>
                    <label>
                        <input class="with-gap" name="jenisKelamin" th:value="0" type="radio"/>
                        <span>Perempuan</span>
                    </label>
                </p>
                <a th:href="@{/member}" class="waves-effect waves-light btn red lighten-1">
                    <i class="material-icons left">close</i>
                    batal
                </a>
                <button type="submit" class="waves-effect waves-light btn indigo lighten-1">
                    <i class="material-icons left">send</i>
                    simpan
                </button>
            </form>
        </div>
    </div>
    <object th:include="fragments/fragment :: materializejs" th:remove="tag"></object>
    <script>
        $(document).ready(function(){
            $('.datepicker').datepicker({ format: "dd-mm-yyyy" });
        });
    </script>
</body>
</html>