<!DOCTYPE html>
<html lang="en" xmlns:th="http://thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <object th:include="fragments/fragment :: materializecss" th:remove="tag"></object>
    <object th:include="fragments/fragment :: js" th:remove="tag"></object>
    <object th:include="fragments/fragment :: title (current='Home')" th:remove="tag"></object>
</head>
<body>
    <div th:replace="fragments/fragment :: navbar"></div>
    <div class="container">
        <div class="card-panel">
            <div class="card-panel orange">
                <h2 class="center-align white-text">Welcome to SIELEKTHOR!</h2>
            </div>
            <br>
            <h5 class="center-align grey-text">List of Features:</h5>
            <div class="center-align">
                <a th:href="@{/barang}" class="waves-effect waves-light btn-large orange">Barang</a>
                <a th:href="@{/pembelian}" class="waves-effect waves-light btn-large orange"><i class="material-icons left">attach_money</i>Pembelian</a>
                <a class="waves-effect waves-light btn-large orange"><i class="material-icons left">search</i>Filter Pembelian</a>
                <a th:href="@{/member}" class="waves-effect waves-light btn-large orange"><i class="material-icons left">person</i>Member</a>
            </div>
        </div>
    </div>

    <object th:include="fragments/fragment :: materializejs" th:remove="tag"></object>
</body>
</html>