<!DOCTYPE html>
<html lang="en" xmlns:th="http://thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <object th:include="fragments/fragment :: materializecss" th:remove="tag"></object>
    <object th:include="fragments/fragment :: js" th:remove="tag"></object>
    <object th:include="fragments/fragment :: title (current='Daftar Pembelian')" th:remove="tag"></object>
</head>
<body>
    <div th:replace="fragments/fragment :: navbar"></div>
    <div class="container">
        <h3 class="center-align grey-text text-darken-1">Daftar Pembelian</h3>
        <a th:href="@{/pembelian/tambah}" class="btn-floating btn-large waves-effect waves-light orange"><i class="material-icons">add</i></a>
        <div th:if="${listPembelian.size() != 0}">
            <table class="responsive-table striped">
                <thead>
                    <tr>
                        <th>No</th>
                        <th>No Invoice</th>
                        <th>Total Harga</th>
                        <th>Member</th>
                        <th>Kuantitas Barang</th>
                        <th>Tanggal Pembelian</th>
                        <th>Aksi</th>
                    </tr>
                </thead>
                <tbody>
                    <tr th:each="pembelian, iterationStatus : ${listPembelian}">
                        <td th:text="${iterationStatus.index}"></td>
                        <td th:text="${pembelian.nomorInvoice}"></td>
                        <td th:text="${pembelian.totalPembelian}"></td>
                        <td th:text="${pembelian.member.namaMember}"></td>
                        <td th:text="${listKuantitas[__${iterationStatus.index}__]}"></td>
                        <td th:text="${pembelian.tanggalPembelian}"></td>
                        <td>
                            <a th:href="@{/pembelian/hapus/} + ${pembelian.idPembelian}" class="btn-small waves-effect waves-light red"><i class="material-icons">delete</i></a>
                            <a th:href="@{/pembelian/} + ${pembelian.idPembelian}" class="waves-effect waves-light btn-small">Lihat</a>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
        <div th:if="${listPembelian.size() <= 0}">
            <h5 class="indigo-text">Belum ditemukan pembelian!</h5>
        </div>
    </div>
    <object th:include="fragments/fragment :: materializejs" th:remove="tag"></object>
</body>
</html>